@media (min-width: 320px) and (max-width: 767px) {
}
@media (min-width: 481px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (min-width: 993px) and (max-width: 1195px) {
  .nav-item {
    margin: 0px 3px;
  }
  .nav-link {
    font-size: 14px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
}
