html,
body {
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #eaae48;
  outline: 1px solid slategrey;
  height: 0px;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: "Inter", sans-serif;
}
a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
body {
  background-color: #fff !important;
}
/*================================= Breadcrumb CSS ============================== */
.breadcrumb-bar {
  height: 45px;
  background-color: #000;
}
.breadcrumb-left ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding: 10px 0px;
  margin-right: 15px;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
}
.breadcrumb-left ul li i {
  margin-right: 5px;
}
.breadcrumb-left ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: 0.2s all ease-in-out;
  font-family: "Oswald", sans-serif;
}
.breadcrumb-left ul li a:hover {
  color: #eaae48;
}
.breadcrumb-links {
  text-align: right;
  margin-bottom: 0px !important;
  padding: 5px 0px !important;
}
.breadcrumb-links ul li a {
  margin-right: 0px !important;
  margin-left: 5px;
}
/* ================================ Header CSS ========================= */

.header-section {
  background: url(../images/header-bg.png) no-repeat center;
  max-height: 125px;
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #261e0e;
  z-index: 999;
}
.navbar {
  padding: 0px;
  background-color: transparent;
  position: unset;
}
.nav-item {
  margin: 0px 15px;
}
.nav-link {
  color: #fff;
  height: 125px !important;
  display: block;
  padding: 50px 15px !important;
  margin-top: -10px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: 0.2s all ease-in-out;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}
.nav-link:hover {
  border-color: #eaae48;
  background-color: rgb(233, 173, 71, 12%);
  color: #eaae48;
}
.navbar-brand {
  margin: 10px auto;
  padding: 0px;
  position: relative;
  z-index: 999;
}
.navbar-collapse {
  position: absolute;
  top: 10px;
}
.navbar-collapse {
  width: 100%;
}
.navbar-toggler i {
  color: #fff;
}
.navbar-toggler:focus {
  outline: 0;
}

@media (max-width: 992px) {
  .navbar-brand {
    text-align: center;
    margin: 5px auto;
  }
  .navbar-brand img {
    width: 100px;
  }
  .navbar-toggler {
    position: absolute;
    top: 15px;
  }
  .navbar-collapse {
    position: inherit;
  }
  .header-section {
    max-height: 62px;
  }
}
/* ============================= Banner CSS ============================= */
.banner-section {
  background: url(../images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 125px 0px 180px;
}
.banner-section h1 {
  color: #ffffff;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 200px;
}
.banner-section h1 b {
  font-size: 70px;
  filter: drop-shadow(0px 2px 0px rgba(234, 174, 72, 0.92));
}
.banner-section h1 span {
  letter-spacing: 13px;
  font-size: 40px !important;
  font-family: "Oswald", sans-serif;
  filter: drop-shadow(0px 2px 0px rgba(234, 174, 72, 0.92));
}
.banner-section button {
  filter: drop-shadow(0px 3px 5px rgba(234, 174, 72, 0.92));
  background-color: #eaae48;
  border: 1.5px solid #eaae48;
  width: 173px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  transition: 0.2s all ease-in-out;
}
.banner-section button:hover {
  background-color: #fff;
  color: #eaae48;
}
.banner-section button:focus {
  outline: 0;
}
/* ========================== About CSS ======================*/
.about-section {
  background-color: #000000;
  padding: 100px 0px 65px;
}
.about-left {
  border: 8px solid #664c1f;
  width: 100%;
  height: 350px;
  position: relative;
}

.about-left img {
  border-left: 2px solid #664c1f;
  position: absolute;
  left: -20px;
  top: -30px;
  border-top: 2px solid #664c1f;
  z-index: 9;
  width: 100%;
}

.web-heading {
  font-family: "Oswald", sans-serif !important;
  font-size: 30px;
  letter-spacing: 2px;
  color: #eaae48;
  font-weight: 600;
  text-transform: uppercase;
}
.about-right h3 {
  font-family: "Oswald", sans-serif !important;
  font-size: 50px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
}
.about-right p {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Barlow";
  margin: 20px 0px;
}
.read-more-btn {
  width: 134px;
  height: 45px;
  filter: drop-shadow(0px 3px 5px rgba(234, 174, 72, 0.92));
  background-color: #eaae48;
  border: 1.5px solid #eaae48;
  font-size: 15px;
  letter-spacing: 0px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  margin: 15px 0px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
}
.read-more-btn:hover {
  color: #eaae48;
  background-color: #fff;
}

.read-more-btn:focus {
  outline: 0;
}
/*============================ Products CSS ======================*/
.product-section {
  background: url(../images/products-bg.jpg) no-repeat;
  padding: 50px;
  background-size: cover;
  background-position: center;
}
.product-section h2 {
  margin-bottom: 40px;
}
.product-list-item {
  border: 8px solid #fff;
  margin: 0px auto 30px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 0.2s all ease-in-out;
}
.product-list-item:hover {
  border-color: #eaae48;
}
.product-list-item:hover h4 {
  background-color: #eaae48;
  color: #ffffff;
}
.product-list-item img {
  width: 100%;
}
.product-list-item h4 {
  width: 204px;
  height: 45px;
  padding: 10px;
  position: absolute;
  background-color: #ffffff;
  font-size: 20px;
  letter-spacing: 1px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Oswald";
  bottom: 0px;
  transition: 0.2s all ease-in-out;

  margin: auto;
}
.product-list-item:hover h4 {
  background-color: #eaae48;
  color: #ffffff;
}
/*=================== Gallery CSS =====================*/
.gallery-section {
  padding: 50px;
  background-color: #000000;
}
.gallery-section h2 {
  margin-bottom: 40px;
}
.gallery-section .mb-3 {
  margin-bottom: 25px !important;
}
.gallery-section .gallery-item {
  display: block;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.gallery-section .gallery-item a {
  transition: 0.2s all ease-in-out;
}
.gallery-section .gallery-item img {
  width: 100%;
}
.gallery-section .overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 95%;
  height: 100%;
  top: 0;
  right: 2.5%;
  left: 2.5%;
  border: 8px solid #eaae48;
  position: absolute;
  justify-content: center;
}
.gallery-section .overlay p {
  align-self: center !important;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.gallery-item:hover .overlay {
  display: flex;
}
.view-all-btn {
  width: 112px;
  height: 45px;
  filter: drop-shadow(0px 3px 5px rgba(234, 174, 72, 0.92));
  background-color: #eaae48;
  border: 1.5px solid #eaae48;
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-align: center;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  margin: 15px 0px 0px;
  text-transform: uppercase;
}
.view-all-btn:hover {
  background-color: #fff;
  color: #eaae48;
}

.view-all-btn:focus {
  outline: 0;
}
/*============== Testimonial & Slider CSS ================*/
.testimonials-section {
  background: url(../images/testimonial-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 50px 0px;
}
.testimonials-section h2 {
  margin-bottom: 40px;
}
.review-box {
  background-color: #0b090a;
  border: 1px solid rgba(234, 174, 72, 0.41);
  padding: 30px;
}
.review-box img {
  border-radius: 50%;
  margin-right: 25px;
  float: left;
}
.review-box h5 {
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin: 10px 0px 15px;
}
.review-box p {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Barlow";
}

.testimonial-block {
  margin-top: 15px;
}
.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  background: #775724;
  margin: 30px 5px 0px;
}
.owl-dots button.owl-dot.active {
  background-color: #e9ad47;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-carousel .owl-item img {
  width: auto !important;
}

/*======================== Footer CSS ============================= */
.footer-section {
  background: url(../images/footer-bg.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 60px;
}
.footer-section .links {
  border-bottom: 1px dashed #543f1a;
  padding: 0px !important;
}
.footer-section .footer-links h5 {
  font-size: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.footer-section .footer-links ul {
  margin-top: 35px !important;
  width: 50%;
  float: left;
}
.footer-section .footer-links ul li {
  list-style: none;
  margin-bottom: 25px;
}
.footer-section .footer-links ul li a {
  font-size: 16px;
  letter-spacing: 0px;
  color: #fff;
  font-weight: 500;
  font-family: "Barlow";
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}

.footer-section .footer-links ul li a i {
  margin-right: 10px;
}
.footer-section .footer-links ul li a:hover {
  color: #eaae48;
}
.footer-section .address-box h5 {
  font-size: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.footer-section .address-box ul {
  margin-top: 35px !important;
  float: left;
}
.footer-section .address-box ul li {
  list-style: none;
  margin-bottom: 25px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #fff;
  font-weight: 500;
  font-family: "Barlow";
}
.footer-section .address-box ul li a {
  font-size: 16px;
  letter-spacing: 0px;
  color: #fff;
  font-weight: 500;
  font-family: "Barlow";
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}
.footer-section .address-box ul li i,
.footer-section .address-box ul li a i {
  margin-right: 10px;
}
.footer-section .address-box ul li a:hover {
  color: #eaae48;
}
.footer-section .copyright {
  padding: 15px 0px 15px;
  text-align: center;
}
.copyright-p p {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #fff;
  font-weight: 500;
  font-family: "Barlow";
}
.copyright-p p span {
  color: #eaae48;
}
.social-links {
  margin-bottom: 5px;
}
.social-links ul li {
  list-style: none;
  display: inline-block;
}
.social-links ul li a {
  text-decoration: none;
  margin-right: 5px;
}
.facebook-icon {
  display: block;
  width: 36px;
  padding: 7px 0px;
  height: 36px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: #3b5998;
  transition: 0.2s all ease-in-out;
}
.facebook-icon:hover {
  color: #3b5998;
  background-color: #fff;
}
.twitter-icon {
  display: block;
  width: 36px;
  padding: 7px 0px;
  height: 36px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: #27aae1;
  transition: 0.2s all ease-in-out;
}
.twitter-icon:hover {
  color: #27aae1;
  background-color: #fff;
}
.google-icon {
  display: block;
  width: 36px;
  padding: 7px 0px;
  height: 36px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: #db4a39;
  transition: 0.2s all ease-in-out;
}
.google-icon:hover {
  color: #db4a39;
  background-color: #fff;
}
.youtube-icon {
  display: block;
  width: 36px;
  padding: 7px 0px;
  height: 36px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: #ff0000;
  transition: 0.2s all ease-in-out;
}
.youtube-icon:hover {
  color: #ff0000;
  background-color: #fff;
}
.instagram-icon {
  display: block;
  width: 36px;
  padding: 7px 0px;
  height: 36px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  transition: 0.2s all ease-in-out;
}
.instagram-icon:hover {
  color: #d225a1;
  background: #fff;
}
